<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <title>Lista Ordenada</title>
</head>
<body>
    <h3>Lista 1</h3>
    <p>Lista ordenada usando tag <em><strong>ol</strong></em></p>
    <ol>
        <li>HTML</li>
        <li>Download</li>
        <li>Web</li>
    </ol>
    <h3>Lista 2</h3>
    <p>Lista ordenada usando a tag <em><strong>ol type="A"</strong></em></p>
    <ol type="A">
        <li>HTML</li>
        <li>Download</li>
        <li>Web</li>
    </ol>
    <h3>Lista 3</h3>
    <p>Lista ordenada usando a tag <em><strong>ol type="I"</strong></em></p>
    <ol type="I">
        <li>HTML</li>
        <li>Download</li>
        <li>Web</li>
    </ol>
    <a href="./lista-n-ordenada.html">Acessar exemplo de lista não ordenada</a><br><br>
    <a href="./lista-definicao.html">Acessar exemplo de lista definida</a><br><br>
    <a href="../index.html">Voltar para pagina principal</a>
</body>
</html>