* {
    margin: 0;
    padding: 0;
}

body {
    width: 960px;
    margin: 0 auto;
    background-image: url(../img/fundo.png);
    background-attachment: fixed;
    background-repeat: repeat-x;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    display: none;
}

.logo {
    background-image: url(../img/imagensB.png);
    width: 170px;
    height: 154px;
    background-position: 185px -17px;
    margin: 20px 20px 0;
    position: relative;
}

.menu {
    width: 960px;
    height: 50px;
    background-color: #313131;
    float: right;    
    margin-top: 104px;
}


.menu ul {
    list-style: none;
    margin-left: 300px;
    padding: 10px;
}

.menu ul li {
    display: inline;
}

.menu ul li:hover {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #656565;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
}

main {
    clear: both;
}

.banner {
    background: url(../img/banner.png);
    height: 392px;
    width: 960px;
}

h3 {
    text-transform: uppercase;
    border-bottom: 2px solid black;
    margin: 15px 0 15px 0;
}

.produtos p {
    font-size: 13px;
    margin: 10px;
}

.produtos h4 {
    margin: 10px;
}

.item { 
    height: 400px;
    width: 200px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    float: left;
    margin-left: 30px;
}

.prod-1 {
    background: url(../img/prod1.png);
    height: 139px;
    width: 111px;
    margin: 10px;
}

.prod-2 {
    background: url(../img/prod2.png);
    height: 139px;
    width: 111px;
    margin: 10px;
}

.prod-3 {
    background: url(../img/prod3.png);
    height: 139px;
    width: 111px;
    margin: 10px;
}

.prod-4 {
    background: url(../img/prod4.png);
    height: 139px;
    width: 111px;
    margin: 10px;
}

.quebra {
    clear: both;
}

.servicos {
    width: 960px;
    height: 300px;
}

.servico {
    float: left;
    width: 420px;
    height: 300px;
    margin-left: 30px;
}

.servico p {
    font-size: 13px;
}

.loja-img {
    background: url(../img/imagensB.png) -30px -20px; 
    background-size: 600px;
    width: 405px;
    height: 80px;
}

.vendas-img {
    background: url(../img/imagensB.png) -30px -100px; 
    background-size: 600px;
    width: 405px;
    height: 80px;
}

footer {
    background-color: #313131;
    height: 60px;
    margin-bottom: 15px;
}

.rodape {
    color: #999999;
    padding: 15px;
    width: 500px;
    float: left;
}

.icones {
    width: 32px;
    height: 32px;
}

.facebook {
    background: url(../img/imagensB.png) 571px -223px;
    float: left;
    margin: 15px 15px 0 280px;
}

.twitter {
    background: url(../img/imagensB.png) 614px -223px;
    float: left;
    margin: 15px 15px 0 0;
}

.youtube {
    background: url(../img/imagensB.png) 658px -222px;
    float: left;
    margin: 15px 15px 0 0;
}