html {
    font-family: tahoma;
    font-size: 100%;
    height: 100%;
}
a {
    text-decoration: none
}

blockquote {
    content: '"';
    text-align: center;
    margin: 2em;
    padding: 2%;
    background-color: dodgerblue;
    width: 30%;
    border-radius: 50%;
    font-family: 'Slabo 27px', serif;
    box-sizing: border-box
}

li {
    padding: 5px;
}

img {
    margin: auto;
    display: block;
    padding: 2em;
}

dt ,dd{
    padding: 0.5em;
}
