<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <title>Lista Ordenada</title>
</head>
<body>
    <h3>Lista 1</h3>
    <p>Lista ordenada usando tag <em><strong>ul</strong></em></p>
    <ul>
        <li>HTML</li>
        <li>Download</li>
        <li>Web</li>
    </ul>
    <h3>Lista 2</h3>
    <p>Lista ordenada usando a tag <em><strong>ul type="circle"</strong></em></p>
    <ul type="circle">
        <li>HTML</li>
        <li>Download</li>
        <li>Web</li>
    </ul>
    <h3>Lista 3</h3>
    <p>Lista ordenada usando a tag <em><strong>ul type="square"</strong></em></p>
    <ul type="square">
        <li>HTML</li>
        <li>Download</li>
        <li>Web</li>
    </ul>
    <a href="../index.html">Voltar para pagina principal</a>
</body>
</html>